<div class="card card-email">
  <h2 class="card-title">Feeling inspired? Let's make something beautiful together.</h2>
  <p class="card-subtitle">I reply to all emails within a day. See for yourself.</p>
  <a href="mailto:trafj@me.com" class="button">Email me</a>
  <p class="copy-email" id="copy-email" data-clipboard-text="trafj@me.com">Or copy email</p>
  <p class="copied-email">Copied to clipboard</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>
  $(function(){

    var email = document.getElementById('copy-email');
    var clipboard = new ClipboardJS(email);
    clipboard.on('success', function(e) {
        $('.notification').addClass('notification-show');
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });

    // On form submit
    // $("#contact-form").submit(function(e) {
    //   e.preventDefault();
    //   var $form = $(this);
    //   $.post($form.attr("action"), $form.serialize()).then(function() {
    //     $('.email-content').addClass('email-hide');
    //     $('.email-success').addClass('email-show');
    //   });
    // });

  })
</script>