<div class="card card-email">
  <h2 class="card-title">Feel<span class="hide-mobile">ing</span> inspired? Let's make something beautiful together.</h2>
  <p class="card-subtitle">I reply to all emails within a day. See for yourself.</p>
  <a href="mailto:trafj@me.com" class="button">Email me</a>
  <div class="hide-mobile">
    <p class="copy-email" id="copy-email" data-clipboard-text="trafj@me.com">Or copy email</p>
    <p class="copied-email">Copied 🎉</p>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(function(){

    if($(window).width() > 600){

      // Copy email to clipboard
      var email = document.getElementById('copy-email');
      var clipboard = new ClipboardJS(email);
      clipboard.on('success', function(e) {
        $('.copy-email').addClass('hide');
        $('.copied-email').addClass('show');
      });
      $('.copied-email').click(function(){
        console.log('hello');
        $(this).removeClass('show');
        $('.copy-email').removeClass('hide');
      });

    }

  })
</script>