<footer class="card card-footer">
  <h3 class="card-title">&copy; James Traf</h3>
  <div class="icons">
    <h4 class="icon-title">Hit me up</h4>
    <a class="icon-twitter" href="http://twitter.com/traf" target="_blank"><img src="/images/icon-twitter.svg" alt="twitter"/></a>
    <a class="icon-insta" href="http://instagram.com/traf" target="_blank"><img src="/images/icon-insta.svg" alt="insta"/></a>
    <a class="icon-dribbble" href="http://dribbble.com/traf" target="_blank"><img src="/images/icon-dribbble.svg" alt="dribbble"/></a>
    <a class="icon-at" href="mailto:trafj@me.com"><img src="/images/icon-at.svg" alt="email"/></a>
  </div>
</footer>

<h4 class="footer-message">Enjoy your <span id="weekday"></span>!</h4>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){

    // Twitter icon hover
    $('.icon-twitter').hover(
      function() {
        $('.icon-title').text("Tweetin' facts");
        $('.card-footer').addClass('bg-twitter');
      }, function() {
        $('.icon-title').text("Hit me up");
        $('.card-footer').removeClass('bg-twitter');
      }
    );

    // Instagram icon hover
    $('.icon-insta').hover(
      function() {
        $('.icon-title').text("Capturin' moments");
        $('.card-footer').addClass('bg-insta');
      }, function() {
        $('.icon-title').text("Hit me up");
        $('.card-footer').removeClass('bg-insta');
      }
    );

    // Dribbble icon hover
    $('.icon-dribbble').hover(
      function() {
        $('.icon-title').text("Pushin' pixels");
        $('.card-footer').addClass('bg-dribbble');
      }, function() {
        $('.icon-title').text("Hit me up");
        $('.card-footer').removeClass('bg-dribbble');
      }
    );

    // Email icon hover
    $('.icon-at').hover(
      function() {
        $('.icon-title').text("Say hello");
      }, function() {
        $('.icon-title').text("Hit me up");
      }
    );

    // Get current day of the week
    var d = new Date();
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    var n = weekday[d.getDay()];
    document.getElementById("weekday").innerHTML = n;

  });
</script>