<head>
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38404388-22"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-38404388-22');
    </script> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@@title</title>
    <meta name="keywords" content="james, traf, james traf, simple, minimal, design, ux, ui, development, photography, montreal, instagram, dribbble">
    <meta name="description" content="@@description">
    <meta name="author" content="@traf">
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="/css/styles.css" rel="stylesheet">
</head>