<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- <script src="https://embed.small.chat/T036XP36SG514EQWDB.js" async></script> -->
<script src="js/scripts.min.js"></script>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5a24f09e0b35911b5f010af4');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<script>
  $(document).ready(function(){

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

      // Fade hero contents on scroll
      $(window).scroll(function(i){
        var scrollVar = $(window).scrollTop();
        $('.hero').css({'opacity':( 240-scrollVar )/240});
      });

    }
    else {

      // Fade hero contents on scroll
      $(window).scroll(function(i){
        var scrollVar = $(window).scrollTop();
        $('.hero').css({'opacity':( 440-scrollVar )/440});
      });

    }

    // Nav toggle
    $('.nav-toggle').click(function(){
      $(this).toggleClass('toggle');
      $('.nav').toggleClass('nav-show');
      $('.nav-links').toggleClass('nav-links-show');
    });

    // Active nav link
    $('.nav-links a[href$="/' + location.pathname.split("/")[1] + '"]').addClass('nav-active');

    // Stacked scroll effects
    $('.section').stack();

    // Feather icons
    feather.replace()

    // Page transitions
    $(".animsition").animsition({
        linkElement: 'a:not([target="_blank"]):not([href^="#"])',
        linkElement: '.animsition-link',
        outDuration: 600,
        inDuration: 600,
    });

  });
</script>
