<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/scripts.min.js"></script>
<!-- <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5a24f09e0b35911b5f010af4');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script> -->
<script>
  $(document).ready(function(){

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

      // Fade hero contents on scroll
      $(window).scroll(function(i){
        var scrollVar = $(window).scrollTop();
        $('.hero').css({'opacity':( 300-scrollVar )/300});
      });

    }
    else {

      // Fade hero contents on scroll
      $(window).scroll(function(i){
        var scrollVar = $(window).scrollTop();
        $('.hero').css({'opacity':( 440-scrollVar )/440});
      });

      // Fullpage JS
      $('#fullpage').fullpage({
        parallaxOptions: { property: 'translate', type: 'reveal', percentage: 62 },
        licenseKey: '36E1197B-89FE4BB2-B2C0B9E9-247C4CFD',
        parallaxKey: 'dHIuYWZfMFlVY0dGeVlXeHNZWGc9cjJH',
        fitToSectionDelay: 400,
    		autoScrolling: false,
        controlArrows: true,
        percentage: 100,
        parallax: true,
    	});

    }

    // Comparison Slider
    $('.before-wrapper').on( "mousemove", function(e) {
      var offsets = $(this).offset();
      var fullWidth = $(this).width();
      var mouseX = e.pageX - offsets.left;
      if (mouseX < 0) { mouseX = 0; }
      else if (mouseX > fullWidth) { mouseX = fullWidth }
      $(this).parent().find('.comparison-slider').css({ left: mouseX, transition: 'none' });
      $(this).find('.after-wrapper').css({ transform: 'translateX(' + (mouseX) + 'px)', transition: 'none' });
      $(this).find('.after-image').css({ transform: 'translateX(' + (-1*mouseX) + 'px)', transition: 'none' });
    });
    $('.slider-wrapper').on( "mouseleave", function() {
      $(this).parent().find('.comparison-slider').css({
        left: '50%', transition: 'all .3s' });
      $(this).find('.after-wrapper').css({
        transform: 'translateX(50%)', transition: 'all .3s' });
      $(this).find('.after-image').css({
        transform: 'translateX(-50%)', transition: 'all .3s' });
    });

    // Nav toggle
    $('.nav-toggle').click(function(){
      $(this).toggleClass('toggle');
      $('.nav').toggleClass('nav-show');
      $('.nav-links').toggleClass('nav-links-show');
    });

    // Active nav link
    $('.nav-links a[href$="/' + location.pathname.split("/")[1] + '"]').addClass('nav-active');

    // Feather icons
    feather.replace()

    // Page transitions
    $(".animsition").animsition({
        linkElement: 'a:not([target="_blank"]):not([href^="#"])',
        linkElement: '.animsition-link',
        outDuration: 600,
        inDuration: 600,
    });

  });
</script>
