<a href="https://@@url" target="_blank" class="block">
    <div class="block-inner lax" data-lax-preset="zoomInOut-0.96 fadeInOut">
        <div class="block-text">
            <h2 class="block-title">@@name</h2>
            <p class="block-subtitle">@@text</p>
        </div>
        <div class="block-logo">
            <i data-feather="arrow-up-right" class="block-icon icon"></i>
            <img class="block-img" src="@@webRoot/images/logo-@@name.svg" alt="@@name">
        </div>
    </div>
</a>