<form class="form" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
    <div class="form-success">
        <p class="done">Done <span class="icon">⚡️</span></p>
    </div>
    <div class="form-content">
        <input class="invisible" name="bot-field"/>
        <input placeholder="What's your email?" type="email" name="email" required/>
        <span class="cursor hide-mobile"></span>
        <button class="submit" type="submit"><i class="icon" data-feather="arrow-right"></i></button>
    </div>
</form>