<form class="form lax" name="traf" method="POST" data-netlify="true" netlify-honeypot="bot-field" data-lax-preset="fadeIn">
    <div class="form-success">
        <p>You're in 🎉</p>
    </div>
    <div class="form-content">
        <input class="invisible" name="bot-field"/>
        <input class="input" placeholder="What's your email?" type="email" name="email" required/>
        <span class="cursor hide-mobile"></span>
        <button class="submit" type="submit"><i class="icon" data-feather="arrow-right"></i></button>
    </div>
</form>