<footer class="footer lax" data-lax-preset="zoomIn-0.96">
    <div class="container">
        <div class="footer-row">
            <p class="copyright"><span class="symbol">&copy;</span> 2049</p>
            @@include('logo.html')
            <div class="social-links">
                <a href="https://twitter.com/traf" target="_blank" class="social-link"><i class="icon" data-feather="twitter"></i></a>
                <a href="https://instagram.com/traf" target="_blank" class="social-link"><i class="icon" data-feather="instagram"></i></a>
                <a href="https://dribbble.com/traf" target="_blank" class="social-link dribbble"><img src="@@webRoot/images/icon-dribbble.svg" class="icon"/></a>
                <a href="mailto:trafj@me.com" class="social-link"><i class="icon" data-feather="at-sign"></i></a>
            </div>
        </div>
    </div>
</footer>