<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>@@title</title>
  <meta name="title" content="@@title">
  <meta name="description" content="@@description">
  <meta name="keywords" content="james traf, traf, design, designer">
  <meta name="author" content="@traf">
  <meta property="og:type" content="website">
  <meta property="og:title" content="@@title">
  <meta property="og:description" content="@@description">
  <meta property="og:image" content="https://tr.af/images/social-@@social.jpg">
  <meta property="og:url" content="https://tr.af/@@url">
  <meta name="twitter:site" content="@traf">
  <meta name="twitter:card" content="summary_large_image">
  <link href="images/thumbnail.png" rel="apple-touch-icon">
  <link href="images/favicon.png" rel="shortcut icon">
  <link href="css/styles.css" rel="stylesheet">
</head>