<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>@@title</title>
  <meta name="title" content="@@title">
  <meta name="description" content="Digital product designer & front-end developer.">
  <meta name="keywords" content="james traf, traf">
  <meta name="author" content="@traf">
  <meta property="og:type" content="website">
  <meta property="og:title" content="@@title">
  <meta property="og:description" content="Digital product designer & front-end developer.">
  <meta property="og:image" content="https://tr.af/images/social.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="1200">
  <meta property="og:url" content="https://tr.af@@url">
  <meta name="twitter:site" content="@traf">
  <meta name="twitter:card" content="summary">
  <link href="images/favicon.png" rel="shortcut icon">
  <link href="css/styles.css" rel="stylesheet">
</head>