<nav class="nav">
    <div class="container">
        @@include('logo.html')
        <div class="nav-links">
            <a href="/thoughts" class="nav-link nav-solo hide-mobile">Thoughts</a>
            <button class="nav-toggle">
                <div class="lines">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                </div>
            </button>
        </div>
    </div>
    <div class="nav-more">@@include('nav-links.html')</div>
</nav>