<div class="posts container medium">
    @@loop('post-item.html', [
        {"postUrl": "side-projects", "postTitle": "Side projects 101", "postDate": "February 02, 2020"},
        {"postUrl": "writing", "postTitle": "Why I started writing", "postDate": "January 12, 2020"},
        {"postUrl": "happiness", "postTitle": "Happiness in 5 minutes", "postDate": "January 10, 2020"},
        {"postUrl": "ergonofis", "postTitle": "Ergonofis desk review", "postDate": "January 09, 2020"},
        {"postUrl": "nothingness", "postTitle": "The art of nothingness", "postDate": "January 06, 2020"},
        {"postUrl": "minimalism", "postTitle": "Digital minimalism", "postDate": "January 02, 2020"},
        {"postUrl": "workspace", "postTitle": "2020 workspace setup", "postDate": "January 01, 2020"}
    ])
</div>