<div class="posts blocks container">
    @@loop('block-post.html', [
        { "title": "Side projects 101", "date": "February 02 — 2020", "icon": "pen-tool", "url": "side-projects" },
        { "title": "The art of nothingness", "date": "January 06 — 2020", "icon": "circle", "url": "nothingness" },
        { "title": "Digital minimalism", "date": "January 02 — 2020", "icon": "smartphone", "url": "minimalism" },
        { "title": "Flow State", "date": "March 01 — 2020", "icon": "triangle", "url": "flow-state" }
    ])
</div>