<a href="https://@@url" target="_blank" class="project">
    <div class="project-inner lax" data-lax-preset="zoomInOut-0.96 fadeInOut">
        <div class="project-text">
            <h2 class="project-title">@@name</h2>
            <p class="project-subtitle">@@text</p>
        </div>
        <div class="project-logo">
            <i data-feather="arrow-up-right" class="project-icon icon"></i>
            <img class="project-img" src="@@webRoot/images/logo-@@name.svg" alt="@@name">
        </div>
    </div>
</a>