<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/scripts.min.js"></script>
<script>
  $(function(){

    // Shrink nav on scroll
    $(window).scroll(function(event){
      var s = $(window).scrollTop();
      if (s > 0){
          $('.nav').addClass('nav-scrolled');
      } else {
          $('.nav').removeClass('nav-scrolled');
      }
    });

    // Active nav link
    $('.nav-links a[href$="/' + location.pathname.split("/")[1] + '"]').addClass('hide');

    // Hide active post link
    $('.posts a[href$="/' + location.pathname.split("/")[1] + '"]').addClass('hide');

    // Email form
    $(".form").submit(function(e) {
      e.preventDefault();
      fathom('trackGoal', 'AEHIIOYC', 0);
      var $form = $(this);
      $.post($form.attr("action"), $form.serialize()).then(function() {
          $('.form-content').addClass('form-content-hide');
          $('.form-success').addClass('form-success-show');
      });
    });

    // Lax JS
    window.onload = function() {
      lax.setup()
      const updateLax = () => {
        lax.update(window.scrollY)
        window.requestAnimationFrame(updateLax)
      }
      window.requestAnimationFrame(updateLax)
    }

    // Feather icons
    feather.replace()

    // Animsition
    $(".animsition").animsition({
        linkElement: 'a:not([target="_blank"]):not([href^="#"])',
        outDuration: 600,
        inDuration: 600,
    });

  });
</script>
