.posts {
    .block:hover .block-img { transform: translate(40px, 0) scale(0.6) !important; }
    .block-icon { transform: translate(-40px, 0) scale(0.6); height: 30px; width: 30px; }
}

.blocks:hover .block { opacity: 0.8; }

.block {
    border: 1px solid $dark-grey;
    border-bottom: none;
    background: $black;
    position: relative;
    padding: 0 80px;
    display: block;
    height: 180px;
    width: 100%;
    &:last-child { border-bottom: 1px solid $dark-grey !important; }
    &:hover {
        border: 1px solid rgba($dark-grey, 0);
        transform: scale(1.02, 1.06);
        background: $off-black;
        opacity: 1 !important;
        border-bottom: none;
        z-index: 2;
        .block-logo {
            .block-icon {
                transform: translate(0) scale(0.99);
                opacity: 1;
            }
            .block-img {
                transform: translate(30px, -30px) scale(0.6);
                opacity: 0;
            }
        }
    }
}

.block-inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.block-title {
    transition: $smooth;
    margin-bottom: 6px;
}

.block-logo {
    @extend .flex-center;
    pointer-events: none;
}

.block-icon {
    transform: translate(-30px, 30px) scale(0.6);
    transition: $smooth;
    position: absolute;
    color: $white;
    height: 40px;
    width: 40px;
    opacity: 0;
}

.block-img {
    pointer-events: none;
    transition: $smooth;
}

@media (max-width: $break-mobile) {

    .block,
    .block-inner,
    .block-icon,
    .block-img {
        transform: none !important;
        opacity: 1 !important;
    }

    .block {
        border: 1px solid $dark-grey !important;
        background: $black !important;
        margin-bottom: 30px;
        padding: 0 34px;
        height: 320px;
    }

    .block-inner {
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px 0;;
    }

    .block-text {
        margin-top: 80px;
        order: 2;
    }

    .block-img {
        width: 24px;
    }

    .block-icon {
        border-bottom: 1px solid $dark-grey;
        border-left: 1px solid $dark-grey;
        height: 60px !important;
        width: 60px !important;
        padding: 18px;
        color: $grey;
        right: 0;
        top: 0;
    }
    
}