.footer {
    .container {
        flex-direction: column;
        display: flex;
    }
    .logo {
        @extend .flex-center;
        padding-bottom: 6px;
        height: 100%;
        width: 100%;
    }
    .icon {
        max-width: none;
        height: 16px;
        width: 16px;
    }
}

.footer-row {
    justify-content: space-between;
    border: 1px solid $dark-grey;
    border-bottom: none;
    align-items: center;
    overflow: hidden;
    display: flex;
    height: 120px;
    &:hover:first-child .nav-link { color: rgba($white, 0.4); }
}

.copyright {
    border-right: 1px solid $dark-grey;
    @extend .flex-center;
    padding-bottom: 6px;
    height: 100%;
    width: 400px;
    .symbol {
        margin: 0 4px 0 -8px;
        position: relative;
        font-size: 20px;
        top: 4px;
    }
}

.social-links {
    border-left: 1px solid $dark-grey;
    @extend .flex-center;
    padding-bottom: 6px;
    height: 100%;
    width: 400px;
    .social-link {
        @extend .flex-center;
        flex-direction: row;
        position: relative;
        color: $white;
        height: 100%;
        flex: 1;
        &:first-child { padding-left: 30px; }
        &:last-child { padding-right: 30px; }
        &:hover { opacity: 1 !important; }
    }
    &:hover .social-link { opacity: 0.4; }
}

@media (max-width: $break-mobile) {

    .footer {
        padding-bottom: 80px;
        .container {
            .logo { border-right: none; }
        }
    }

    .footer-row {
        flex-direction: column;
        padding: 30px 0;
        height: auto;
        &:last-child {
            border-bottom: 1px solid $dark-grey;
            padding: 40px 0 30px;
        }
    }

    .copyright {
        margin: 0;
        order: 2;
    }

    .social-links {
        border-left: none;
        margin: 20px auto;
        height: 60px;
        .social-link { padding: 0px 16px; }
    }


}








