.footer {
    .container {
        flex-direction: column;
        display: flex;
    }
    .logo {
        @extend .flex-center;
        padding-bottom: 6px;
        height: 100%;
        width: 100%;
    }
    .icon {
        max-width: none;
        height: 16px;
        width: 16px;
    }
    .nav-links {
        pointer-events: all !important;
        filter: blur(0) !important;
        opacity: 1 !important;
        width: 100%;
        .nav-link {
            border-right: 1px solid $dark-grey;
            padding: 0;
            flex: 1;
            &:last-child { border-right: none; }
        }
    }
}

.footer-row {
    justify-content: space-between;
    border: 1px solid $dark-grey;
    border-bottom: none;
    align-items: center;
    overflow: hidden;
    display: flex;
    height: 120px;
    // &:hover:first-child .nav-link { color: rgba($white, 0.4); }
}

.copyright {
    border-right: 1px solid $dark-grey;
    width: calc(100% / 2);
    @extend .flex-center;
    padding-bottom: 6px;
    height: 100%;
    .symbol {
        margin: 0 4px 0 -8px;
        position: relative;
        font-size: 20px;
        top: 4px;
    }
}

.social-links {
    border-left: 1px solid $dark-grey;
    width: calc(100% / 2);
    @extend .flex-center;
    padding-bottom: 6px;
    height: 100%;
    .social-link {
        @extend .flex-center;
        flex-direction: row;
        position: relative;
        color: $white;
        height: 100%;
        flex: 1;
        &:first-child { padding-left: 30px; }
        &:last-child { padding-right: 30px; }
        &:hover { opacity: 1 !important; }
    }
    &:hover .social-link { opacity: 0.4; }
}

@media (max-width: $break-mobile) {

    .footer-row {
        flex-direction: column;
        padding: 50px 0 60px;
        height: auto;
    }

    .copyright {
        border: none;
        width: 100%;
        padding: 0;
        margin: 0;
        order: 2;
    }

    .social-links {
        margin: 20px auto;
        border: none;
        height: 60px;
        width: 80%;
        .social-link { padding: 0px 16px; }
    }


}








