// Transitions
$smooth: all .4s ease;
$ease: all .4s cubic-bezier(0.8,0.04,0.4,1);
$bouncy: all .4s cubic-bezier(0.4,2,0.68,1);

// 100vh height
// $full: calc(var(--vh, 1vh) * 100);

// Border Radii
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 12px;

// Centering
.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.center {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

// Icon
.icon {
    vertical-align: middle;
    stroke-width: 1.5px;
    height: 20px;
    width: 20px;
}

// Highlight selection
*::-webkit-selection { background-color: $primary; color: $white; }
*::-moz-selection { background-color: $primary; color: $white; }
*::selection { background-color: $primary; color: $white; }

// Visibility
.hide { display: none; }

// Media queries
$break-mobile: 600px;
@media (max-width: $break-mobile) {
    .hide-mobile { display: none !important; }
}