.nav {
    transition: $smooth;
    position: fixed;
    height: 140px;
    width: 100%;
    z-index: 4;
    top: 0;
    .container {
        justify-content: space-between;
        align-items: center;
        display: flex;
        height: 100%;
        .logo {
            @extend .flex-center;
            height: 100%;
        }
    }
}

.nav-links,
.nav-link {
    @extend .flex-center;
    height: 100%;
}

.nav-link {
    padding: 0 20px;
    &:last-child { padding-right: 0; }
}

.nav-inactive {
    text-decoration: line-through;
    pointer-events: none;
    color: $grey;
}

.nav-scrolled {
    background: $black;
    height: 80px;
}

@media (max-width: $break-mobile) {

    .nav { height: 80px; }
    .nav-link { padding: 0 14px; }

}