.nav {
    transition: $smooth;
    position: fixed;
    height: 140px;
    width: 100%;
    z-index: 4;
    top: 0;
    .container {
        justify-content: space-between;
        align-items: center;
        display: flex;
        height: 100%;
        .logo {
            @extend .flex-center;
            height: 100%;
        }
    }
}

.nav-right {
    @extend .flex-center;
    height: 100%;
}

.nav-toggle {
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    height: 100%;
    width: 50px;
    span {
        transition: $smooth;
        background: $white;
        margin: 3px 0;
        height: 1px;
        &:first-child { width: 22px; }
        &:last-child { width: 14px; }
    }
    &:hover {
        span:last-child {
            width: 22px;
        }
    }
}

.nav-toggled {
    span {
        margin: 0;
        &:last-child {
            pointer-events: none;
            opacity: 0;
        }
    }
}

.nav-links {
    pointer-events: none;
    transition: $smooth;
    filter: blur(20px);
    opacity: 0;
}

.nav-links-show {
    pointer-events: all;
    filter: blur(0);
    opacity: 1;
}

.nav-links,
.nav-link {
    @extend .flex-center;
    height: 100%;
}

.nav-link {
    padding: 0 24px;
}

.nav-inactive {
    text-decoration: line-through;
    pointer-events: none;
    color: $grey;
}

.nav-scrolled {
    background: $black;
    height: 80px;
}

@media (max-width: $break-mobile) {

    .nav { height: 80px; }
    
    .nav-links {
        justify-content: space-between;
        padding-bottom: 20px;
        background: $black;
        position: fixed;
        padding: 0 26px;
        height: 60px;
        width: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        .nav-link { padding: 0; }
    }

    .nav-links-show {
        top: 80px;
    }

}