// Colors
$black: #000;
$off-black: #0e0f10;
$dark-grey: #18191b;
$white: #fff;
$grey: #808c99;
$primary: #06f;

// Fonts
@font-face {
    font-family: 'space';
    src: url('../fonts/space-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'space';
    src: url('../fonts/space-bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'space-mono';
    src: url('../fonts/space-mono.woff') format('woff');
    font-style: normal;
}

$font: 'space', sans-serif;
$font-mono: 'space-mono', monospace;