.posts {
    flex-direction: column;
    display: flex;
}

.post-item {
    justify-content: space-between;
    transition: color .4s ease;
    align-items: center;
    position: relative;
    padding: 26px 0;
    display: flex;
    color: $grey;
    .line {
        background: $dark-grey;
        transition: $smooth;
        margin: 2px 20px 0;
        height: 1px;
        flex: 1;
    }
    &:hover {
        opacity: 1;
        color: $white;
        .line { background: $grey; }
    }
}

.post-item-title,
.post-item-date {
    color: inherit;
}

// .post {
//     h1 { font-family: $bold; }
//     p {
//         font-family: $regular;
//         margin: 10px 0 40px;
//         color: $light-grey;
//         letter-spacing: 0;
//         line-height: 1.8;
//         font-size: 20px;
//     }
// }

@media (max-width: $break-mobile) {

    .post-item {
        align-items: flex-start;
        flex-direction: column;
        .line {
            position: absolute;
            width: 60px;
            margin: 0;
            bottom: 0;
            left: 0;
        }
    }

    .post-item-title {
        color: $white;
    }

    .post-item-date {
        margin-top: 10px;
        font-size: 14px;
    }

}