h1, h2, h3, a {
    color: $white;
}

h1 {
    font-family: $font-mono;
    letter-spacing: -1px;
    font-size: 30px;
    line-height: 2;
}

h2 {
    letter-spacing: -0.5px;
    font-family: $font;
    font-weight: bold;
    line-height: 1.8;
    font-size: 22px;
}

h3 {
    font-family: $font-mono;
    letter-spacing: -1px;
    font-weight: normal;
    line-height: 1.8;
    font-size: 24px;
}

p, .p, a {
    font-family: $font-mono;
    letter-spacing: -0.4px;
    line-height: 1.8;
    font-size: 14px;
}

p, .p {
    color: $grey;
}

a {
    transition: $smooth;
    &:hover { color: $grey; }
}

.link {
    border-bottom: 1px solid rgba($grey, 0.4);
    font-family: inherit;
    padding-bottom: 4px;
    font-size: inherit;
    display: inline;
    color: inherit;
    &:hover { color: $white; }
}

.link-icon {
    @extend .flex-center;
    color: $grey;
    .icon {
        margin: 2px 0 0 10px;
        height: 18px;
        width: 18px;
    }
    &:hover { color: $white; }
}

@media (max-width: $break-mobile) {

    h1 { font-size: 28px; }
    h3 { font-size: 20px; }
    
}