$black: #000;
$white: #fff;
$grey: #999;
$blue: #06f;
$rose: #e2b6b6;

$gradient-black: radial-gradient(50% 100%, #222 0%, #111 100%);
$gradient-blue: radial-gradient(50% 100%, #2E82FF 0%, #0066FF 100%);