/* IMPORTS ------------------------------------------*/

@import 'colors';
@import 'fonts';

/* TRANSITIONS --------------------------------------*/

$ease: all .4s cubic-bezier(0.8,0.04,0.4,1);
$bouncy: all .4s cubic-bezier(0.4,2,0.68,1);
$smooth: all .4s ease;

/* RESPONSIVE BREAK POINTS --------------------------*/

$break-mobile: 600px;
$break-tablet: 1024px;

/* BORDER RADIUS ------------------------------------*/

$rounded: 4px;

/* MISC ---------------------------------------------*/

a { transition: $smooth; }
img { pointer-events: none; max-width: 100%; }
button { -webkit-appearance: none; appearance: none; cursor: pointer; }

/* DEFAULT BROWSER STYLES ---------------------------*/

::-webkit-scrollbar { display: none; }
*::-webkit-selection { background-color: $blue; color: white; }
*::-moz-selection { background-color: $blue; color: white; }
*::selection { background-color: $blue; color: white; }

input:-webkit-autofill { -webkit-box-shadow: 0 0 0 40px $white inset !important; -webkit-text-fill-color: $black !important; }
textarea { resize: none; }

::-webkit-input-placeholder { color: $white; }
:-ms-input-placeholder { color: $white; }
::-moz-placeholder { color: $white; }
:-moz-placeholder { color: $white; }

/* POSITIONING --------------------------------------*/

.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.center {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.center-y {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.center-x {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}





