@import 'reset';
@import 'theme';
@import 'global';
@import 'email';
@import 'footer';
@import 'hero';
@import 'nav';
@import 'projects';
@import 'sessions';
@import 'thoughts';
@import 'type';

body {
  font-family: $font;
  background: $black;
  color: $white;
}

.logo {
  img { transform: rotate(-2deg); }
  &:hover { opacity: 0.4; }
}

.container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  width: 1240px;
}

.break {
  display: none;
}

.super:hover {
  color: #f0bd66;
  opacity: 1;
}

.vera:hover {
  color: #37b8d0;
  opacity: 1;
}

@media (max-width: $break-mobile) {

  .container {
    max-width: 85%;
  }

  .logo {
    width: 60px;
  }

  .links {
    display: none !important;
  }

  .break {
    display: block;
    width: 100%;
  }

}