/*-------------------------------------------------------------------*/
/* IMPORT THEME -----------------------------------------------------*/
/*-------------------------------------------------------------------*/

@import 'theme';
@import 'colors';
@import 'fonts';

/*-------------------------------------------------------------------*/
/* MISC -------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

body {
  background-color: $black;
  font-family: $bold;
  text-align: center;
  color: $white;
}

.particles {
  pointer-events: none;
  transition: $ease;
  min-width: 100%;
  @extend .center;
  height: 100%;
}

/*-------------------------------------------------------------------*/
/* HERO COMPONENTS --------------------------------------------------*/
/*-------------------------------------------------------------------*/

.hero {
  background: $gradient;
  @extend .flex-center;
  position: relative;
  height: 100vh;
  width: 100%;
}

.logo {
  transform: rotate(-2deg);
}


