/*-------------------------------------------------------------------*/
/* IMPORT THEME -----------------------------------------------------*/
/*-------------------------------------------------------------------*/

@import 'reset';
@import 'helpers';
@import 'colors';
@import 'type';
@import 'fonts';

/*-------------------------------------------------------------------*/
/* MISC -------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

body {
  background-color: $black;
  font-family: $bold;
  text-align: center;
  color: $white;
}

.button {
  box-shadow: 0 20px 30px -10px rgba($black, 0.04);
  background: rgba($white, 0.1);
  border-radius: $rounded;
  letter-spacing: -0.5px;
  font-family: $title;
  padding: 16px 32px;
  margin-top: 30px;
  font-size: 16px;
  color: $white;
  z-index: 5;
  &:hover { box-shadow: 0 20px 30px 0 rgba($black, 0.04); transform: translateY(-4px); }
  &:active { transform: scale(0.98); }
}

.button.naked {
  position: absolute;
  box-shadow: none;
  background: none;
  padding: 40px;
  margin: 0;
  bottom: 0;
  right: 0;
}

.button.blue {
  background: $blue;
}

.button.buy {
  box-shadow: 0 20px 40px rgba($black, 0.4) !important;
  background-position: 50% 0 !important;
  background-color: $black !important;
  font-family: $bold !important;
  padding: 10px 30px !important;
  color: $white !important;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
}

.gumroad-embed {
  margin-bottom: 80px;
}

.gumroad-loading-indicator {
  box-shadow: 0 20px 40px rgba($black, 0.4) !important;
  background: #000 !important;
}

.gumroad-button-logo {
  margin-right: 10px !important;
  margin-left: -2px !important;
}

.close {
  background: rgba($black, 0.6);
  border-radius: $circle;
  @extend .flex-center;
  padding-bottom: 1px;
  padding-right: 1px;
  transition: $ease;
  position: fixed;
  z-index: 999;
  height: 60px;
  width: 60px;
  right: 40px;
  top: 40px;
  &:hover {
    transform: scale(1.04) rotate(90deg);
    background: rgba($black, 1);
  }
}

.down {
  @extend .center-x;
  opacity: 0.6;
  bottom: 40px;
}

.slide {
  height: 100%;
  width: 100%;
}

.slide-title {
  text-shadow: 0 10px 40px rgba($black, 0.4);
  font-family: $script;
  position: absolute;
  letter-spacing: 0;
  font-size: 40px;
  z-index: 4;
  left: 30px;
  top: 20px;
}

.progress {
  background: $blue;
  position: fixed;
  height: 2px;
  z-index: 4;
  width: 0%;
  top: 0;
}

.copy-email,
.copied-email {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: $ease;
  @extend .center-x;
  cursor: pointer;
  font-size: 11px;
}

.copy-email {
  pointer-events: all;
  opacity: 0.6;
  bottom: 80px;
  &:hover { opacity: 1; }
}

.copy-email.hide {
  pointer-events: none;
  bottom: 60px;
  opacity: 0;
}

.copied-email {
  pointer-events: none;
  bottom: 100px;
  opacity: 0;
}

.copied-email.show {
  pointer-events: all;
  bottom: 78px;
  opacity: 1;
}

.music-player {
  transition: $smooth;
  cursor: pointer;
  height: 150px;
  width: 150px;
  opacity: 0.6;
  &:hover { opacity: 1; }
}

.music-bar {
  padding-left: 10px;
  @extend .center-x;
  overflow: hidden;
  height: 60px;
  width: 60px;
  bottom: 0;
}

.music .message {
  position: absolute;
  font-family: $bold;
  letter-spacing: 0;
  cursor: pointer;
  font-size: 10px;
  opacity: 0.4;
  bottom: 20px;
  left: 20px;
}

@media (max-width: $break-mobile) {

  .hide-mobile { display: none; }

  .close {
    height: 50px;
    width: 50px;
    right: 20px;
    top: 20px;
  }

  .down {
    bottom: 30px;
  }

  .button.naked { padding: 24px; }

  .button.buy {
    box-shadow: 0 -10px 40px rgba($black, 0.2);
    padding: 12px 30px 20px !important;
    background: $black;
    border-radius: 0;
    bottom: -2px;
    width: 100%;
    right: 0;
    left: 0;
    &:hover, &:active { transform: none; }
  }

  .slide:not(:first-child) {
    display: none;
  }

  .slide-title {
    left: 24px;
    top: 24px;
  }

}

/*-------------------------------------------------------------------*/
/* BREATHER ---------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.hero.breather {
  @extend .flex-center;
  height: 100vh;
  width: 100%;
  padding: 0;
  .main {
    background: $black;
    height: 100vh;
    width: 100%;
  }
  .done {
    transition: $smooth;
    background: $blue;
    height: 100vh;
    width: 100%;
  }
  .remaining {
    pointer-events: none;
    @extend .center;
    max-width: 90%;
    width: 600px;
    z-index: 2;
    p {
      margin-top: 20px;
      font-size: 24px;
      opacity: 0.4;
    }
  }
  .timer {
    @extend .center;
    height: 360px;
    width: 360px;
    z-index: 2;
  }
}

.flower {
  pointer-events: none;
  @extend .center;
  height: 80vh;
  width: 100%;
  fill: $blue;
  z-index: 1;
}

.rose {
  -webkit-transform-origin: 500px 500px; transform-origin: 500px 500px;
  -webkit-animation: turn 120s linear infinite; animation: turn 120s linear infinite;
}

circle {
  -webkit-animation: breathe 10s cubic-bezier(0.65, 0.05, 0.36, 1) infinite; animation: breathe 10s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  -webkit-transform: rotate(var(--angle)) translate(112.5px, 0); transform: rotate(var(--angle)) translate(112.5px, 0);
  -webkit-transform-origin: 500px 500px; transform-origin: 500px 500px;
  opacity: 0.2;
}

@-webkit-keyframes breathe {
  0%, 100% { -webkit-transform: rotate(var(--angle)) translate(0px, 0); transform: rotate(var(--angle)) translate(0px, 0); }
  45%, 55% { -webkit-transform: rotate(var(--angle)) translate(225px, 0); transform: rotate(var(--angle)) translate(225px, 0); }
}

@keyframes breathe {
  0%, 100% { -webkit-transform: rotate(var(--angle)) translate(0px, 0); transform: rotate(var(--angle)) translate(0px, 0); }
  45%, 55% { -webkit-transform: rotate(var(--angle)) translate(225px, 0); transform: rotate(var(--angle)) translate(225px, 0); }
}

@-webkit-keyframes turn {
  0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes turn {
  0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

/*-------------------------------------------------------------------*/
/* PAGE SPECIFIC ----------------------------------------------------*/
/*-------------------------------------------------------------------*/

.projects {
  .card-project:hover .card-title {
    pointer-events: none;
    margin-top: 200px;
    opacity: 0;
  }
  .card-project:hover .card-subtitle { opacity: 0; }
  .card-project:hover .card-title-hover {
    margin-top: 0;
    opacity: 1;
  }
  .card-title {
    max-width: 90%;
    width: 400px;
  }
}

.supply {
  .card-title {
    margin-top: 20px;
    max-width: 90%;
    width: 340px;
  }
  .card-insta {
    .card-title {
      margin: 0 auto;
      width: 420px;
    }
  }
}

.thoughts {
  .card-title {
    margin-top: 10px;
    max-width: 80%;
    width: 440px;
  }
  .card-subtitle {
    margin-top: 20px;
    font-size: 18px;
  }
}

.article {
  .content {
    background: $gradient-black;
    text-align: left;
    .wrapper {
      padding-top: 100px;
      max-width: 84%;
    }
  }
  h3, h2, p { line-height: 1.8; }
  .title { margin: 80px 0 14px; }
  p, a {
    letter-spacing: -0.5px;
    font-family: $book;
    font-size: 22px;
    color: $grey;
  }
  p {
    margin-bottom: 20px;
    .dash {
      position: absolute;
      margin-left: -20px;
    }
  }
  a {
    color: $white;
    &:hover { color: $blue; }
  }
}

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
  @extend .flex-center;
  transition: $ease;
  opacity: 0.6;
  border: none;
  height: 100%;
  width: 120px;
  margin: 0;
  top: 0;
  &:hover { opacity: 1; }
}

.fp-controlArrow.fp-prev {
  background: url('/images/icon-arrow-left.svg') no-repeat;
  background-position: 50%;
  left: 0;
  &:hover { transform: translateX(-6px); }
}

.fp-controlArrow.fp-next {
  background: url('/images/icon-arrow-right.svg') no-repeat;
  background-position: 50%;
  right: 0;
  &:hover { transform: translateX(6px); }
}

.oops {
  .hero {
    h1 {
      letter-spacing: -3px;
      font-size: 60px;
    }
    .button {
      padding: 12px 24px;
      font-size: 14px;
    }
  }
}

@media (max-width: $break-mobile) {

  .thoughts {
    .card-subtitle { margin-top: 6px; }
  }

  .article {
    .content {
      .wrapper {
        padding-top: 50px;
        h3, h2, p { line-height: 1.6; }
        h3 { font-size: 22px; }
        p {
          font-size: 20px;
          .dash { margin-left: -14px; }
        }
        .title { margin: 40px 0 10px; }
      }
    }
  }

}

/*-------------------------------------------------------------------*/
/* WORD SHIFT -------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.shift {
  max-width: 100% !important;
  width: 100% !important;
}

.shift.clip span { display: inline-block; }
.shift.clip .word-shift { overflow: hidden; }

.shift.clip .word-shift:after {
  background-color: $blue;
  border-radius: 2px;
  @extend .center-y;
  height: 100%;
  content: '';
  width: 2px;
  right: 0;
}

.shift.clip b { opacity: 0; }
.shift.clip b.is-visible { opacity: 1; }

.word-shift {
  display: inline-block;
  position: relative;
  text-align: left;
}

.word-shift b {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  @extend .h1;
  left: 0;
  top: 0;
}

.word-shift b.is-visible { position: relative; }
.word-shift b { opacity: 0; }
.word-shift b.is-visible { opacity: 1; }

@media (max-width: $break-mobile) {

  .word-shift b {
    letter-spacing: -1px;
    font-size: 22px;
  }

  .shift.clip .word-shift:after {
    height: 80%;
    top: 60%;
  }

}

/*-------------------------------------------------------------------*/
/* NAVIGATION -------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.nav {
  justify-content: space-between;
  align-items: center;
  transition: $ease;
  background: none;
  position: fixed;
  display: flex;
  height: 100px;
  width: 100%;
  z-index: 3;
}

.nav-show {
  box-shadow: 0 20px 60px rgba($black, 0.4);
  background: $black;
}

.nav-logo {
  transform: rotate(-2deg);
  @extend .flex-center;
  transition: $bouncy;
  margin-left: 34px;
  img { width: 70px; }
  &:hover { transform: scale(1.06) rotate(-4deg); }
}

.nav-links {
  @extend .flex-center;
  position: relative;
  transition: $ease;
  height: 100%;
  width: 800px;
  opacity: 0;
  .nav-link {
    transform: translateY(-100px);
    @extend .flex-center;
    font-family: $bold;
    background: none;
    font-size: 18px;
    color: $white;
    opacity: 0.4;
    height: 100%;
    flex: 1;
    .icon {
      position: relative;
      top: 2px;
      left: 4px;
    }
    &:nth-child(1) { transition-delay: .25s; }
    &:nth-child(2) { transition-delay: .2s; }
    &:nth-child(3) { transition-delay: .15s; }
    &:nth-child(4) { transition-delay: .1s; }
    &:nth-child(5) { transition-delay: .05s; }
    &:nth-child(6) { transition-delay: 0s; }
    &:hover {
      transition-delay: 0s !important;
      opacity: 1;
    }
  }
}

.nav-links-show {
  opacity: 1;
  .nav-link {
    transform: translateY(0);
    &:nth-child(1) { transition-delay: 0s; }
    &:nth-child(2) { transition-delay: .05s; }
    &:nth-child(3) { transition-delay: .1s; }
    &:nth-child(4) { transition-delay: .15s; }
    &:nth-child(5) { transition-delay: .2s; }
    &:nth-child(6) { transition-delay: .25s; }
  }
}

// .nav-more {
//   @extend .nav-links;
//   @extend .center-x;
//   opacity: 1 !important;
//   position: fixed;
//   border: 1px solid white;
//   height: 100px;
//   z-index: 4;
//   top: 0;
//   width: 100%;
// }

.nav-active {
  opacity: 1 !important;
  color: $blue;
}

.nav-toggle {
  flex-direction: column;
  @extend .flex-center;
  background: none;
  height: 100%;
  width: 100px;
  &:hover .line-2 { width: 24px; }
  .lines {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24px;
  }
  .line {
    border-top: 1px solid $white;
    transition: $smooth;
    display: block;
    width: 24px;
  }
  .line-2 {
    align-self: flex-end;
    margin-top: 6px;
    width: 18px;
  }
  &.toggle {
    .line { transition: $ease; }
    .line-1 { transform: rotate(-45deg); }
    .line-2 {
      transform: rotate(45deg);
      margin-top: -1px;
      width: 24px;
    }
  }
}

@media (max-width: $break-tablet) {

  .nav-links {
    flex-direction: column;
    pointer-events: none;
    padding-bottom: 20px;
    background: $black;
    transform: none;
    position: fixed;
    height: 100vh;
    z-index: -1;
    width: 100%;
    opacity: 0;
    top: 0;
    .nav-link {
      height: 60px;
      width: 100%;
      flex: none;
    }
  }

  .nav-links-show {
    pointer-events: all;
    transform: none;
    opacity: 1;
  }

  .nav-show {
    box-shadow: none;
    background: none;
  }

}

@media (max-width: $break-mobile) {

  .nav {
    box-shadow: 0 0 40px rgba($black, 0.4);
    background: $black;
    height: 70px;
  }

  .nav-logo {
    margin-left: 24px;
    img { width: 50px; }
  }

  .nav-toggle { width: 80px; }

}

/*-------------------------------------------------------------------*/
/* COMPONENTS -------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.hero {
  height: calc(100vh - 20px);
  flex-direction: column;
  @extend .flex-center;
  background: $black;
  position: fixed;
  padding: 0 14%;
  width: 100%;
  .hero-title.small { width: 300px; max-width: 100%; }
  .hero-title { width: 420px; max-width: 100%; }
  .hero-title.large { width: 600px; max-width: 100%; }
}

.hero-full {
  height: 100vh !important;
}

.hero.unpadded {
  padding: 0 10%;
}

.content {
  box-shadow: 0 0 100px $black;
  top: calc(100vh - 20px);
  background: $black;
  position: relative;
  width: 100%;
  z-index: 2;
}

.content.padded {
  padding: 140px 0;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  width: 1100px;
}

.wrapper.small {
  width: 800px;
}

@media (max-width: $break-mobile) {

  .hero {
    height: calc(68vh - 20px);
    .hero-title.small { width: 200px; }
  }

  .content { top: calc(68vh - 20px); }

}

/*-------------------------------------------------------------------*/
/* SECTIONS ---------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.section {
  box-shadow: 0 20px 80px rgba($black, 0.2);
  flex-direction: column;
  @extend .flex-center;
  position: relative;
  height: 100vh;
  width: 100%;
  .wrapper { padding: 120px 0 0; }
}

.section-hero {
  .card-title { margin: -20px auto 0; }
  .card-subtitle { opacity: 0.6; }
  .section-icon {
    box-shadow: 0 20px 40px rgba($black, 0.2);
    margin: -60px auto 40px;
    width: 50px;
  }
}

.section-content {
  height: auto !important;
}

.fp-bg {
  min-height: 100%;
  width: 100%;
}

@media (max-width: $break-mobile) {

  .section {
    height: 60vh !important;
    box-shadow: none;
    .wrapper { padding: 40px 0 0; }
  }

  .section-content {
    height: auto !important;
  }

  .fp-tableCell {
    height: 60vh !important;
  }

  .fp-bg {
    position: absolute;
    z-index: -1;
  }

}


/*-------------------------------------------------------------------*/
/* SECTION BACKGROUNDS ----------------------------------------------*/
/*-------------------------------------------------------------------*/

.client-dwelve-1 { background: url('/images/client-dwelve-1.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-2 { background: url('/images/client-dwelve-2.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-3 { background: url('/images/client-dwelve-3.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-4 { background: url('/images/client-dwelve-4.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-5 { background: url('/images/client-dwelve-5.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-6 { background: url('/images/client-dwelve-6.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-7 { background: url('/images/client-dwelve-7.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-8 { background: url('/images/client-dwelve-8.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-9 { background: url('/images/client-dwelve-9.jpg') no-repeat center center; background-size: cover; }
.client-dwelve-10 { background: url('/images/client-dwelve-10.jpg') no-repeat center center; background-size: cover; }
.client-mobydish-1 { background: url('/images/client-mobydish-1.jpg') no-repeat center center; background-size: cover; }
.client-mobydish-2 { background: url('/images/client-mobydish-2.jpg') no-repeat center center; background-size: cover; }
.client-mobydish-3 { background: url('/images/client-mobydish-3.jpg') no-repeat center center; background-size: cover; }
.client-mobydish-4 { background: url('/images/client-mobydish-4.jpg') no-repeat center center; background-size: cover; }
.client-mobydish-5 { background: url('/images/client-mobydish-5.jpg') no-repeat center center; background-size: cover; }
.client-mobydish-6 { background: url('/images/client-mobydish-6.jpg') no-repeat center center; background-size: cover; }
.client-mobydish-7 { background: url('/images/client-mobydish-7.jpg') no-repeat center center; background-size: cover; }
.client-mobydish-8 { background: url('/images/client-mobydish-8.jpg') no-repeat center center; background-size: cover; }
.client-squish-1 { background: url('/images/client-squish-1.jpg') no-repeat center center; background-size: cover; }
.client-squish-2 { background: url('/images/client-squish-2.jpg') no-repeat center center; background-size: cover; }
.client-squish-3 { background: url('/images/client-squish-3.jpg') no-repeat center center; background-size: cover; }
.client-squish-4 { background: url('/images/client-squish-4.jpg') no-repeat center center; background-size: cover; }
.client-squish-5 { background: url('/images/client-squish-5.jpg') no-repeat center center; background-size: cover; }
.client-squish-6 { background: url('/images/client-squish-6.jpg') no-repeat center center; background-size: cover; }
.client-squish-7 { background: url('/images/client-squish-7.jpg') no-repeat center center; background-size: cover; }
.client-squish-8 { background: url('/images/client-squish-8.jpg') no-repeat center center; background-size: cover; }
.client-squish-9 { background: url('/images/client-squish-9.jpg') no-repeat center center; background-size: cover; }
.client-squish-10 { background: url('/images/client-squish-10.jpg') no-repeat center center; background-size: cover; }
.client-squish-11 { background: url('/images/client-squish-11.jpg') no-repeat center center; background-size: cover; }

.moments-people-hero { background: url('/images/moments-people-hero.jpg') no-repeat center center; background-size: cover; }
.moments-people-claudia { background: url('/images/moments-people-claudia.jpg') no-repeat center center; background-size: cover; }
.moments-people-andria { background: url('/images/moments-people-andria.jpg') no-repeat center center; background-size: cover; }
.moments-people-ariana { background: url('/images/moments-people-ariana.jpg') no-repeat center center; background-size: cover; }
.moments-people-claudia { background: url('/images/moments-people-claudia.jpg') no-repeat center center; background-size: cover; }
.moments-people-katie { background: url('/images/moments-people-katie.jpg') no-repeat center center; background-size: cover; }
.moments-people-kendra { background: url('/images/moments-people-kendra.jpg') no-repeat center center; background-size: cover; }
.moments-people-maddy { background: url('/images/moments-people-maddy.jpg') no-repeat center center; background-size: cover; }
.moments-people-mariko { background: url('/images/moments-people-mariko.jpg') no-repeat center center; background-size: cover; }
.moments-people-michelle { background: url('/images/moments-people-michelle.jpg') no-repeat center center; background-size: cover; }
.moments-people-nicole { background: url('/images/moments-people-nicole.jpg') no-repeat center center; background-size: cover; }
.moments-people-olivia { background: url('/images/moments-people-olivia.jpg') no-repeat center center; background-size: cover; }
.moments-places-1 { background: url('/images/moments-places-1.jpg') no-repeat center center; background-size: cover; }
.moments-places-2 { background: url('/images/moments-places-2.jpg') no-repeat center center; background-size: cover; }
.moments-places-3 { background: url('/images/moments-places-3.jpg') no-repeat center center; background-size: cover; }
.moments-places-4 { background: url('/images/moments-places-4.jpg') no-repeat center center; background-size: cover; }
.moments-places-5 { background: url('/images/moments-places-5.jpg') no-repeat center center; background-size: cover; }
.moments-places-6 { background: url('/images/moments-places-6.jpg') no-repeat center center; background-size: cover; }
.moments-places-7 { background: url('/images/moments-places-7.jpg') no-repeat center center; background-size: cover; }
.moments-places-8 { background: url('/images/moments-places-8.jpg') no-repeat center center; background-size: cover; }
.moments-places-9 { background: url('/images/moments-places-9.jpg') no-repeat center center; background-size: cover; }
.moments-places-10 { background: url('/images/moments-places-10.jpg') no-repeat center center; background-size: cover; }
.moments-places-11 { background: url('/images/moments-places-11.jpg') no-repeat center center; background-size: cover; }
.moments-places-12 { background: url('/images/moments-places-12.jpg') no-repeat center center; background-size: cover; }
.moments-places-13 { background: url('/images/moments-places-13.jpg') no-repeat center center; background-size: cover; }
.moments-places-14 { background: url('/images/moments-places-14.jpg') no-repeat center center; background-size: cover; }
.moments-things-1 { background: url('/images/moments-things-1.jpg') no-repeat center center; background-size: cover; }
.moments-things-2 { background: url('/images/moments-things-2.jpg') no-repeat center center; background-size: cover; }
.moments-things-3 { background: url('/images/moments-things-3.jpg') no-repeat center center; background-size: cover; }
.moments-things-4 { background: url('/images/moments-things-4.jpg') no-repeat center center; background-size: cover; }
.moments-things-5 { background: url('/images/moments-things-5.jpg') no-repeat center center; background-size: cover; }
.moments-things-6 { background: url('/images/moments-things-6.jpg') no-repeat center center; background-size: cover; }
.moments-things-7 { background: url('/images/moments-things-7.jpg') no-repeat center center; background-size: cover; }
.moments-brands-peel-1 { background: url('/images/moments-brands-peel-1.jpg') no-repeat center center; background-size: cover; }
.moments-brands-peel-2 { background: url('/images/moments-brands-peel-2.jpg') no-repeat center center; background-size: cover; }
.moments-brands-peel-3 { background: url('/images/moments-brands-peel-3.jpg') no-repeat center center; background-size: cover; }
.moments-brands-peel-4 { background: url('/images/moments-brands-peel-4.jpg') no-repeat center center; background-size: cover; }
.moments-brands-peel-5 { background: url('/images/moments-brands-peel-5.jpg') no-repeat center center; background-size: cover; }
.moments-brands-peel-6 { background: url('/images/moments-brands-peel-6.jpg') no-repeat center center; background-size: cover; }
.moments-brands-peel-7 { background: url('/images/moments-brands-peel-7.jpg') no-repeat center center; background-size: cover; }
.moments-brands-aer-1 { background: url('/images/moments-brands-aer-1.jpg') no-repeat center center; background-size: cover; }
.moments-brands-aer-2 { background: url('/images/moments-brands-aer-2.jpg') no-repeat center center; background-size: cover; }
.moments-brands-aer-3 { background: url('/images/moments-brands-aer-3.jpg') no-repeat center center; background-size: cover; }
.moments-brands-aer-4 { background: url('/images/moments-brands-aer-4.jpg') no-repeat center center; background-size: cover; }
.moments-brands-aer-5 { background: url('/images/moments-brands-aer-5.jpg') no-repeat center center; background-size: cover; }
.moments-brands-photive-1 { background: url('/images/moments-brands-photive-1.jpg') no-repeat center center; background-size: cover; }
.moments-brands-photive-2 { background: url('/images/moments-brands-photive-2.jpg') no-repeat center center; background-size: cover; }
.moments-brands-photive-3 { background: url('/images/moments-brands-photive-3.jpg') no-repeat center center; background-size: cover; }
.moments-brands-photive-4 { background: url('/images/moments-brands-photive-4.jpg') no-repeat center center; background-size: cover; }
.moments-brands-photive-5 { background: url('/images/moments-brands-photive-5.jpg') no-repeat center center; background-size: cover; }
.moments-brands-photive-6 { background: url('/images/moments-brands-photive-6.jpg') no-repeat center center; background-size: cover; }

.supply-elemental-hero { background: url('/images/supply-elemental-hero.jpg') no-repeat center center; background-size: cover; }
.supply-elemental-fire-before { background: url('/images/supply-elemental-fire-before.jpg') no-repeat center center; background-size: cover; }
.supply-elemental-fire-after { background: url('/images/supply-elemental-fire-after.jpg') no-repeat center center; background-size: cover; }
.supply-elemental-water-before { background: url('/images/supply-elemental-water-before.jpg') no-repeat center center; background-size: cover; }
.supply-elemental-water-after { background: url('/images/supply-elemental-water-after.jpg') no-repeat center center; background-size: cover; }
.supply-elemental-earth-before { background: url('/images/supply-elemental-earth-before.jpg') no-repeat center center; background-size: cover; }
.supply-elemental-earth-after { background: url('/images/supply-elemental-earth-after.jpg') no-repeat center center; background-size: cover; }
.supply-elemental-wind-before { background: url('/images/supply-elemental-wind-before.jpg') no-repeat center center; background-size: cover; }
.supply-elemental-wind-after { background: url('/images/supply-elemental-wind-after.jpg') no-repeat center center; background-size: cover; }

.supply-urban-hero { background: url('/images/supply-urban-hero.jpg') no-repeat center center; background-size: cover; }
.supply-urban-mtl-before { background: url('/images/supply-urban-mtl-before.jpg') no-repeat center center; background-size: cover; }
.supply-urban-mtl-after { background: url('/images/supply-urban-mtl-after.jpg') no-repeat center center; background-size: cover; }
.supply-urban-sf-before { background: url('/images/supply-urban-sf-before.jpg') no-repeat center center; background-size: cover; }
.supply-urban-sf-after { background: url('/images/supply-urban-sf-after.jpg') no-repeat center center; background-size: cover; }
.supply-urban-nyc-before { background: url('/images/supply-urban-nyc-before.jpg') no-repeat center center; background-size: cover; }
.supply-urban-nyc-after { background: url('/images/supply-urban-nyc-after.jpg') no-repeat center center; background-size: cover; }
.supply-urban-mia-before { background: url('/images/supply-urban-mia-before.jpg') no-repeat center center; background-size: cover; }
.supply-urban-mia-after { background: url('/images/supply-urban-mia-after.jpg') no-repeat center center; background-size: cover; }

.logo-ryanrose { background: url('/images/logo-ryanrose.jpg') no-repeat center center; background-size: cover; }
.logo-swysh { background: url('/images/logo-swysh.jpg') no-repeat center center; background-size: cover; }
.logo-hex { background: url('/images/logo-hex.jpg') no-repeat center center; background-size: cover; }
.logo-castupon { background: url('/images/logo-castupon.jpg') no-repeat center center; background-size: cover; }
.logo-deximal { background: url('/images/logo-deximal.jpg') no-repeat center center; background-size: cover; }
.logo-spoil { background: url('/images/logo-spoil.jpg') no-repeat center center; background-size: cover; }

/*-------------------------------------------------------------------*/
/* COMPARISON SLIDER ------------------------------------------------*/
/*-------------------------------------------------------------------*/

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

// .slider-wrapper:hover { cursor: none; }

.before-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
  width: auto;
}

.before-wrapper:before {
  display: block;
  height: 100%;
  width: 100%;
  content: '';
}

.after-wrapper {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.after-image {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  display: block;
  height: 100%;
  width: auto;
}

.comparison-slider {
  background: $blue;
  @extend .center;
  height: 100%;
  width: 2px;
}

/*-------------------------------------------------------------------*/
/* CARDS ------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.card {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background: rgba($white, 0.08);
  border-radius: $rounded;
  flex-direction: column;
  @extend .flex-center;
  margin: 0 auto 100px;
  text-align: center;
  position: relative;
  transition: $ease;
  overflow: hidden;
  padding: 30px;
  height: 440px;
  width: 100%;
}

.card-icon {
  margin-bottom: 20px;
  opacity: 0.6;
}

.card-title {
  transition: $ease;
  margin: 0 auto;
  max-width: 90%;
  width: 500px;
}

.card-subtitle {
  letter-spacing: -1px;
  margin: 4px auto 0;
  transition: $ease;
  font-size: 24px;
  max-width: 80%;
  opacity: 0.4;
}

.card-title-hover {
  pointer-events: none;
  margin-top: -100px;
  transition: $ease;
  @extend .center;
  opacity: 0;
}

a.card:hover { transform: scale(1.02); }
a.card:active { transform: scale(1); transition: all .2s ease; }

@media (max-width: $break-mobile) {

  .card {
    margin: 0 auto 30px;
    height: 260px;
  }

  .card-icon { margin: -10px auto 20px; }

  .card-subtitle {
    font-size: 18px;
  }

}

/*-------------------------------------------------------------------*/
/* CARD BACKGROUNDS -------------------------------------------------*/
/*-------------------------------------------------------------------*/

.card-blue { background: $gradient-blue; }
.card-insta { background: url('/images/card-insta.jpg') no-repeat center center; background-size: cover; }

.card-projects { background: url('/images/card-projects.jpg') no-repeat center center; background-size: cover; }
.card-clients { background: url('/images/card-clients.jpg') no-repeat center center; background-size: cover; }
.card-moments { background: url('/images/card-moments.jpg') no-repeat center center; background-size: cover; }
.card-thoughts { background: url('/images/card-thoughts.jpg') no-repeat center center; background-size: cover; }
.card-beats { background: url('/images/card-beats.jpg') no-repeat center center; background-size: cover; }

.card-castupon { background: url('/images/card-castupon.jpg') no-repeat center center; background-size: cover; }
.card-deximal { background: url('/images/card-deximal.jpg') no-repeat center center; background-size: cover; }
.card-finely { background: url('/images/card-finely.jpg') no-repeat center center; background-size: cover; }
.card-typement { background: url('/images/card-typement.jpg') no-repeat center center; background-size: cover; }
.card-configtree { background: url('/images/card-configtree.jpg') no-repeat center center; background-size: cover; }

.card-dwelve { background: url('/images/card-clients.jpg') no-repeat center center; background-size: cover; }
.card-mobydish { background: url('/images/card-mobydish.jpg') no-repeat center center; background-size: cover; }
.card-squish { background: url('/images/card-squish.jpg') no-repeat center center; background-size: cover; }
.card-logos { background: url('/images/card-logos.jpg') no-repeat center center; background-size: cover; }

.card-people { background: url('/images/card-people.jpg') no-repeat center center; background-size: cover; }
.card-places { background: url('/images/card-places.jpg') no-repeat center center; background-size: cover; }
.card-things { background: url('/images/card-things.jpg') no-repeat center center; background-size: cover; }
.card-brands { background: url('/images/card-brands.jpg') no-repeat center center; background-size: cover; }

.card-urban { background: url('/images/card-urban.jpg') no-repeat center center; background-size: cover; }
.card-elemental { background: url('/images/card-elemental.jpg') no-repeat center center; background-size: cover; }
.card-wallpapers { background: url('/images/card-wallpapers.jpg') no-repeat center center; background-size: cover; }

/*-------------------------------------------------------------------*/
/* EMAIL CARD -------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.card-email {
  background: $gradient-blue;
  .card-title {
    width: 500px !important;
    margin: 0;
  }
  .card-subtitle { font-size: 18px; }
}

.email-form {
  margin-top: 30px;
  max-width: 100%;
  width: 300px;
}

.email-content {
  background: rgba($white, 0.1);
  border-radius: $rounded;
  @extend .flex-center;
  transition: $ease;
  width: 100%;
}

.email-input {
  text-align: center;
  background: none;
  font-size: 16px;
  padding: 16px;
  color: $white;
  width: 100%;
  @extend .p;
  &:first-child { border-right: 1px solid rgba($white, 0.1); }
}

.email-submit {
  background: url('/images/icon-check.png') no-repeat;
  background-color: rgba($white, 0.1);
  border-top-right-radius: $rounded;
  border-top-left-radius: $rounded;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  pointer-events: none;
  transition: $ease;
  @extend .center-x;
  cursor: pointer;
  bottom: -60px;
  height: 60px;
  width: 60px;
  padding: 0;
  &:hover {
    background-color: rgba($white, 0.2);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.email-submit.text {
  background: rgba($white, 0.1);
  height: 50px;
  width: 100px;
  @extend .p;
  &:hover { background-color: rgba($white, 0.2); }
}

.email-active .email-submit {
  pointer-events: all;
  bottom: 0;
}

.email-success {
  flex-direction: column;
  pointer-events: none;
  @extend .center-x;
  transition: $ease;
  display: flex;
  width: 100%;
  opacity: 0;
}

.email-hide {
  pointer-events: none;
  opacity: 0;
  .email-submit {
    pointer-events: none;
    cursor: none;
  }
}

.email-show {
  pointer-events: all;
  opacity: 1;
}

@media (max-width: $break-mobile) {

  .card-email {
    height: 400px;
    .card-title { font-size: 24px; }
  }

}

/*-------------------------------------------------------------------*/
/* FOOTER CARD ------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.card-footer {
  justify-content: space-between;
  padding: 0 40px 0 60px;
  flex-direction: row;
  margin-bottom: 60px;
  align-items: center;
  display: flex;
  height: 200px;
  .card-title {
    width: auto;
    margin: 0;
  }
  .icons {
    @extend .flex-center;
    .icon-title {
      margin-right: 20px;
      opacity: 0.4;
    }
    a {
      @extend .flex-center;
      opacity: 0.4;
      height: 60px;
      width: 60px;
      &:hover { opacity: 1; }
    }
  }
}

.bg-twitter { background: #1da1f2; }
.bg-insta { background: #405de6; }
.bg-dribbble { background: #ea4c89; }

.footer-message {
  padding: 0 10% 60px;
  text-align: center;
  opacity: 0.3;
  width: 100%;
}

@media (max-width: $break-mobile) {

  .card-footer {
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    .card-title { margin-bottom: 10px; }
    .icon-title { display: none; }
  }

}









